.inline-block {
    display: inline-block;
    white-space: nowrap
}

/* Fix temporaneo per fare la mappa alta al 100% senza lo scrolling verticale */
md-content.map-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
md-content.map-content,
section.map-container {
    height: 100%;
    width: 100%;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
md-content.map-header > md-toolbar:not(.md-menu-toolbar) {
    background-color: rgba(255,193,7, 0.8);
}
/*
@media only screen and (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    #map {
        top: 56px;
    }
}
@media only screen and (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
    #map {
        top: 45px;
    }
}*/
.md-subhead {
    color: rgba(0,0,0,0.54);
}
md-list-item.md-4-line,
md-list-item.md-4-line > ._md-no-style {
    height: auto;
    min-height: 110px;
}
.md-toolbar-tools > div {
    height: 40px;
}
.md-toolbar-tools > div > .md-button.md-no-margin-left {
    margin-left: -8px;
}