<!DOCTYPE html>
<html lang="it" ng-app="incanevaApp">
<head>
    <meta charset="UTF-8">
    <title>InCaneva Webapp</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/main.css">
    <!--<link type="text/css" rel="stylesheet" href="assets/css/modal.css">-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="bower_components/angular-moment/angular-moment.js"></script>
    <script type="text/javascript" src="bower_components/moment/locale/it.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/modal.controller.js"></script>
    <script type="text/javascript" src="app/controllers/main.controller.js"></script>
</head>
<body ng-controller="mainController">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Calendario Eventi InCaneva</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="loader" ng-show="loading">Loading...</div>
        <div class="event_list" ng-hide="loading">
            <ul class="list-group">
                <li ng-click="openDetails(event, 'lg')" ng-repeat="event in events | orderBy: 'evcal_srow'" class="list-group-item clearfix" ng-class="{'list-group-item-red': event.event_type[1] == 'storia-cultura', 'list-group-item-green': event.event_type[1] == 'natura', 'list-group-item-lightblue': event.event_type[1] == 'sport', 'list-group-item-purple': event.event_type[1] == 'passioni'}">
                    <div class="event-date">
                        <span class="event-date-start">
                            {{event.evcal_srow | amFromUnix | amDateFormat:'DD'}}
                            <em>{{event.evcal_srow | amFromUnix | amDateFormat:'MMM'}}</em>
                        </span>
                        <span class="event-date-end" ng-hide="endEqualsStart(event.evcal_srow, event.evcal_erow)">
                            {{event.evcal_erow | amFromUnix | amDateFormat:'DD'}}
                            <em>{{event.evcal_erow | amFromUnix | amDateFormat:'MMM'}}</em>
                        </span>
                    </div>
                    <div class="event-details">
                        <h4>{{event.post_title}}</h4>
                        <p>{{event.evcal_srow | amFromUnix | amDateFormat:'HH:mm'}}</p>
                        <p>{{event.post_excerpt}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>