<!DOCTYPE html>
<html lang="en" ng-app="storeLocator">
<head ng-controller="headController">
    <meta charset="UTF-8">
    <title>Store Locator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="{{theme.color}}">
    <link rel="shortcut icon" type="image/ico" href="assets/img/favicon.ico">
    <link rel="icon" sizes="192x192" href="assets/img/icon-256.png">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/storelocator.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/crypto-js/crypto-js.js"></script>
    <script src="bower_components/ngGeolocation/ngGeolocation.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.theme.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/app.run.js"></script>
    <script src="app/services/service.stores.js"></script>
    <script src="app/services/service.openStore.js"></script>
    <script src="app/factories/factory.authManager.js"></script>
    <script src="app/factories/factory.storeManager.js"></script>
    <script src="app/factories/factory.storageManager.js"></script>
    <script src="app/factories/factory.sessionManager.js"></script>
    <script src="app/factories/factory.authInterceptor.js"></script>
    <script src="app/factories/factory.mapManager.js"></script>
    <script src="app/factories/factory.locationManager.js"></script>
    <script src="app/controllers/controller.head.js"></script>
    <script src="app/controllers/controller.main.js"></script>
    <script src="app/controllers/controller.storesMap.js"></script>
    <script src="app/controllers/controller.storesList.js"></script>
    <script src="app/controllers/controller.details.js"></script>
    <script src="app/controllers/controller.login.js"></script>
</head>
<body ng-controller="mainController">
<md-content ng-class="{'map-header':currentRoot == '/map'}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <div ng-show="authorized && currentRoot == '/map'">
                <md-button class="md-icon-button md-no-margin-left" aria-label="Exit" ng-href="#/list">
                    <md-tooltip md-direction="bottom">
                        List view
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">list</md-icon>
                </md-button>
            </div>
            <div ng-show="authorized && currentRoot == '/list'">
                <md-button class="md-icon-button md-no-margin-left" aria-label="Exit" ng-href="#/map" >
                    <md-tooltip md-direction="bottom">
                        Map view
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">map</md-icon>
                </md-button>
            </div>
            <div ng-show="authorized && currentRoot.indexOf('/details/') != -1">
                <md-button class="md-icon-button md-no-margin-left" aria-label="Exit" ng-click="goBack()">
                    <md-tooltip md-direction="bottom">
                        Go back
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>
            </div>
            <md-button class="md-icon-button" aria-label="Settings" target="_blank" href="http://www.jesse.it">
                <md-icon md-svg-icon="assets/img/logo-jesse-cerchio.svg"></md-icon>
            </md-button>
            <h2 ng-href="#/map">
                <span>Store Locator</span>
            </h2>
            <span flex></span>
            <div ng-show="authorized && currentRoot == '/map'">
                <md-button class="md-icon-button" aria-label="Exit" ng-click="centerMap()">
                    <md-tooltip md-direction="bottom">
                        My location
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">my_location</md-icon>
                </md-button>
            </div>
            <div ng-show="authorized">
                <md-button class="md-icon-button" aria-label="Exit" ng-click="logout()">
                    <md-tooltip md-direction="bottom">
                        Exit
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">exit_to_app</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
</md-content>
<md-content ng-class="{'map-content':currentRoot == '/map'}" ng-view>

</md-content>
</body>
</html>