.event{
    border-left-color:black;
    border-left:5px;
    border-left-style: solid;
    border-bottom-color:lightgrey;
    border-bottom:1px;
    border-bottom-style: solid;
}
.date{
    width: 80px;
}
.row{
    margin-left:0;
}
.start-date {
    float: left;
    font-size: 30px;
    clear: both;
    color: #ABABAB;
}
.end-date {
    float: left;
    margin-left: 4px;
    font-size: 14px;
    color: #ABABAB;
}
.start-date em {
    margin-left: 0;
    margin-top: 3px;
}

.start-date em,
.end-date em {
    font-size: 11px;
    font-weight: normal;
    display: block;
    font-style: normal;
    text-transform: uppercase;
    line-height: 110%;
}
.end-date em {
    font-size: 8px;
    margin-top: 3px;
}