<md-card md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{store.name}}</span>
            <span class="md-subhead">{{store.address}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-sm card-media">
                <img src="assets/img/logo.svg" alt="Store Locator logo" title="Store Locator logo">
            </div>
        </md-card-title-media>
    </md-card-title>
    <!--<md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-actions>-->
</md-card>