<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading" layout-padding>
    <md-progress-circular md-diameter="60" md-mode="indeterminate"></md-progress-circular>
</div>
<section ng-hide="loading">
    <md-list flex>
        <md-list-item class="md-3-line md-4-line" ng-repeat="store in stores | orderBy : 'distance'" ng-href="#/details/{{store.guid}}">
            <md-icon md-font-set="material-icons" class="md-avatar-icon">store</md-icon>
            <div class="md-list-item-text" layout="column">
                <h3>{{store.name}}</h3>
                <h4>{{store.address}}</h4>
                <p>{{store.phone}}</p>
                <p>Distance from me: {{store.distance | number}}km</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</section>