<section>
    <ui-gmap-google-map
            center='storesMap.center'
            zoom='storesMap.zoom'
    >
        <ui-gmap-markers
                models="storesMarkers"
                coords="'self'"
                <!--icon="'icon'"-->
        ></ui-gmap-markers>
    </ui-gmap-google-map>
</section>

<section>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="store in stores">
            <md-icon md-font-set="material-icons">store</md-icon>
            <div class="md-list-item-text" layout="column">
                <h3>{{store.name}}</h3>
                <h4>{{store.address}} (lat:{{store.latitude}}, long:{{store.longitude}})</h4>
                <p>{{store.phone}}</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</section>