<div flex-xs flex-offset-gt-xs="25" flex-offset-gt-sm="30" flex-offset-gt-md="35" flex-gt-xs="50" flex-gt-sm="40" flex-gt-md="30" layout="column">
    <md-card md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline"><span class="inline-block">Welcome to</span> <span class="inline-block">Store Locator</span></span>
                <span class="md-subhead">Please login to continue...</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="assets/img/logo.svg" alt="Store Locator logo" title="Store Locator logo">
                </div>
            </md-card-title-media>
        </md-card-title>
        <form ng-submit="login()">
            <md-card-content>
                <div class="md-media-lg card-media">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <md-icon md-font-set="material-icons">email</md-icon>
                        <input ng-model="user.email" type="email">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <md-icon md-font-set="material-icons">lock</md-icon>
                        <input ng-model="user.password" type="password">
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-primary" >Login</md-button>
            </md-card-actions>
        </form>
    </md-card>
</div>